body {
  margin: 0;
  padding: 0;
}

nav {
  
  height: 40px;
  margin: 10px;
}

nav ul li {
  list-style-type: none;
  font-size: 20px;
  margin: 0 5px;
  padding: 10px;
  font-weight: bold; /*gras*/
}

nav ul {
  display: flex;
  background-color: grey;
}

.white{

  background-color: whitesmoke;
 
  
}
.carousel {
  background-color: whitesmoke;
  height: 300px;
  margin: 0 10px;
}

h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.sectionArticle {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  height: 400px;
}

article {
  margin: 10px;
  padding: 10px;
  width: 30%;
  height: 400px;
  background-color: whitesmoke;
}

hr {
  position: relative;
  top: 600px;
  width: 1500px;
  height: 2px;
  background-color: black;
}
.secondTitle {
  display: flex;
  justify-content: left;
  margin-top: 200px;
}

.inputPosition{

  display:flex;
  flex-direction: column;
  padding: 10px;
  margin:auto;
  width:700px;
  height:400px;
  align-items: center;  

}

input, textarea, select{
     
  width:900px;
  height:40px;
  margin:10px;
  border: 2px solid black;
  
}



